@charset "UTF-8";
html, body {
  overflow-x: hidden;
}

.bestseller-card {
  transition: all 0.3s;
}

.bestseller-card:hover {
  transform: scale(1.15);
  z-index: 1000;
}

.logo {
  font-family: "Recursive", sans-serif;
}

.hero {
  background: url("../images/images (1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1000px) {
  .about-us .card {
    margin-bottom: 2em;
  }
}
.stat-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000000), url(../images/stats-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-pattern::after {
  content: "";
  display: block;
  background: #91bbf2;
  width: 20px;
  height: 4px;
  margin-top: 0.3em;
}

.map iframe {
  width: 100%;
  height: 300px;
}

.footer-links-item::before {
  content: "»";
  margin-right: 0.8em;
  font-size: 1.5rem;
}
