
//logo
.logo{
    font-family: "Recursive", sans-serif;
}

// nav-link
.hero {
    background: url("../images/images\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

//about-us card margin-bottom 
@media (max-width:1000px){
    .about-us .card{
        margin-bottom: 2em;  
    }
}


//stat background
.stat-bg{
    background-image: linear-gradient(rgba(0,0,0,0),#000000),url(../images/stats-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

//title decoration
.title-pattern::after {
    content:"";
    display: block;
    background: #91bbf2;
    width: 20px;
    height: 4px;
    margin-top: .3em;
}


//map
.map iframe{
    width: 100%;
    height: 300px;
}

//footer links
.footer-links-item::before{
    content: "\00BB"; 
    margin-right: .8em;
    font-size: 1.5rem;
}

html, body {
    overflow-x: hidden;
}